@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular-webfont.svg#opensansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.eot');
    src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
         url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*variables*/
$dark-blue: #315281;
$haskell-blue: rgb(103, 167, 205);
$haskell-orange: rgb(255, 102, 0);

$header-text: #a0a5ae;

$primary-background: #FEFEFE;
$primary-text: #131313;
$primary-links: #e74c3c;

$quote-border: #bdc3c7;
$quote-text: #7f8c8d;

$code-background: #ecf0f1;
$code-text: #7f8c8d;
$code-border: #bdc3c7;

$time-color: #bdc3c7;

$summary-border: #bdc3c7;

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}


body{
    font-family: open_sanslight;
}

header{
    overflow: hidden;
    padding-top: 20px;
}

header small{
    font-size: .65rem;  
    opacity: .25;
    position: relative;
    top: -7px;
    left: 7px;
}

nav {    
    color: $header-text;
    .links{
        float: right;
    };
    .brand {
        float: left;
        font-size: 1.5rem;
    };
    .links{
            a {
            padding:5px 10px;   
            margin-left: 10px;
            color: $header-text;
            font-size: 1.5rem;
            :hover {
                text-decoration:none;
                color: $primary-links;   
            }
        }
    }
}

header {
    img{
        float: left; 
    };
    .container {
       overflow: hidden; 
    }
}

a{
    color: $primary-links;
    text-decoration: none;
    :hover {
        text-decoration: underline;
    }
}

ul, ol{ 
    margin: 0;
    padding: 0 0 20px 40px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 400;
    padding:0 0 10px 0;
    line-height: 1rem;
}
h1{
    font-family: open_sansextrabold;
    margin-top: 0;
}

h2{
    font-family: open_sanssemibold;
}

h3{
    font-family: open_sansregular;
    font-style: italic;
}

blockquote{
    padding: 10px;
    margin: 20px 0 20px 20px;
    border-left: 1px solid $quote-border;
    color: $quote-text;
    p{
        margin: 0;
    }
}

p code{
    padding: 2px 5px;
    background: $code-background;
    color: $code-text;
    border: 1px solid $code-border;
    border-radius: 3px;
    font-size: .8rem;
}

footer{
    padding: 20px 0;
    text-align: center;
}

.footer-logo{
    text-align: center;
    opacity: .3;
    display: block;
    margin:0 auto;
    width: 40px;
}

.post-title{
    margin-bottom: 40px;
}

.container{
    max-width: 800px;
    padding: 0 40px;
    margin: 0 auto;
}

.main{
    padding: 65px 0px 20px 0px;
    background-color: $primary-background;
    color: $primary-text;
}


.summary{
    overflow: hidden;
    border-bottom: 1px solid $summary-border;
    padding: 20px 20px 0px 20px;
    &:hover{
        background-color: #F1F2F3;
    }
    .header{
        overflow: hidden;
        padding: 10px 0px;
        .title{
            float: left;
            font-style: normal;
            padding-bottom: 0px;
        }
        .date{
            float: right;
            color: $time-color;
            font-size: .8rem;
        }
    }
}

p{
    margin: 0px 0px 20px 0;
    line-height: 1.65rem;
}
li{
    line-height: 1.65rem;
    padding: 5px;
}

.other-posts {
    h2 {
        border-radius: 5px 5px 0 0;
        margin: 0px 0px 20px 0px;
        padding: 10px 20px;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        line-height: 2rem;
        padding: 0 10px;
        margin-bottom: 10px;
    }
}

li {
    .recent-post{
        display: block;
        padding: 0 10px;
    }
}

.post-nav{          
    text-align: center; 
    a {
        padding: 0 40px;    
        :active{
            text-decoration: none;    
        }
    }
}

.highlight{
    margin-bottom: 20px;
    background-color: #3c3c3c;
    color: #fff;
    font-size: .8rem;
    padding: 10px;
    overflow-y: auto;
    border-radius: 5px;
}

.haskell{
    body{
        background-color: $haskell-blue;
    }
    header{
        background: url('../images/haskellBG.png')
    }
    nav{
        a{
            color: white;
            text-shadow: 0px 1px 1px rgba(0,0,0, .8);
            :hover{
                background: transparent;
            }
        }
    }
    a{
        color: $haskell-blue;
    }
    ul{
        padding-bottom: 0px;
    }
    footer{        
        color: white;        
        a{
            color: $dark-blue;
        }
        .license{
            text-align: left;
        }
    }
    .highlight{
        margin: 20px 0;
    }
    .about{
        border-top: 1px solid $haskell-blue;
        margin: 20px 0 0 0;
        padding: 10px 0 0 0;
    }
}

.with-contents{
    .container{
        max-width: 1000px;
        overflow: hidden;
    }
    .content{
        width: 71%;
        float: left;
        margin-right: 2%;        
        padding: 0 2%
    }
    .table-of-contents{
        position: fixed;
        left: 66%;
        width: 18%;

        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

    }
}