---
layout: default
---
<div class="container">
	<div class="content">
		{{content}}
	</div>
	<div class="table-of-contents">
		{% for post in site.posts %}
			{% if post.categories contains 'haskell' %}
	  			<li><a class="note-link" href="{{post.url}}">{{post.post-title}}</a></li>
  			{% endif %}
		{% endfor %}
	</div>
</div>
<div class="post-nav">
	<div class="container">
		{% if post.previous %}
			<a href="{{post.previous.url}}">Prev</a>				
			<a href="{{post.next.url}}">Next</a>		
		{% endif %}
	</div>	
</div>