<!DOCTYPE html>
<html lang="en" class="{{page.page-class}}">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}} &ndash; wilhemson</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/pygments.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>         
  <div class='container'>   
    <header>        
        <nav>           
          <div class="brand">
            <a href="/">wilhelmson</a>
          </div>
          <div class="links">  
            <a href="https://twitter.com/jessewilliamson" title="twitter"><i class="icon-twitter"></i></a>
            <a href="https://github.com/wilhelmson" title="github"><i class="icon-github"></i></a>          
            <a href="https://secure.flickr.com/photos/jmwilliamson/" title="flickr"><i class="icon-flickr"></i></a>      
            <a href="cv.html"><i class="icon-file" title="cv"></i></a>      
            <a href="feed.xml"><i class="icon-rss" title="rss"></i></a>        
          </div>
        </nav>
    </header> 
    <div class='main'>
      {{content}}
    </div>
    <footer>
      <div>
        <p>
          <i class='icon-rocket icon-2x'></i>          
        </p>         
      </div>
    </footer>
  </body>
</html>
